{{#each meals as |meal|}}

  <!-- {{> partial}} -->

<div class="meal-pill" data-id="{{meal.id}}">
  <p><h4 data-id="{{meal.id}}">{{meal.name}}</h4></p>
  <p><button data-id="{{meal.id}}" data-toggle="modal" data-target="#show-meal-modal" type="button" class="btn show-meal">Show</button><button data-id="{{meal.id}}" type="button" class="btn remove-meal">Remove</button></p>
</div>

{{/each}}


<!-- <button type="button" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
