{{#each meals as |meal|}}

  <!-- {{> partial}} -->

<ul class="meal-pill" data-id="{{meal.id}}">
  <li><h4 data-id="{{meal.id}}">{{meal.name}}</h4></li>
  <li><button data-id="{{meal.id}}" type="button" class="show-meal">Show</button><button data-id="{{meal.id}}" type="button" class="remove-meal">Remove</button></li>
</ul>

{{/each}}


<!-- <button type="button" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
